@import "../../variables.scss";
.modal-dialog {
  position: relative;

  max-width: 100vw !important;
  .modal-content {
    max-width: 500px;
    position: absolute;
    right: 0 !important;
    margin: 0;
    height: 100vh;

    .btn-close {
      margin-left: auto;
    }
    .header {
      color: $color-secondary;
    }


    .review,.check{
        border-radius: 20px;
        padding: 10px 40px;

    }
    .review{
        background-color: $color-primary;

    }
    .check{
        background-color: $color-secondary;
        color: #fff;
    }


    
  }
}
