@import "../../variables.scss";
.modal-dialog {
  position: relative;

  max-width: 100vw !important;
  .modal-content {
    max-width: 500px;
    position: absolute;
    right: 0 !important;
    margin: 0;
    height: 100vh;


    

    .btn-close {
      margin-left: auto;
    }
    .header {
      color: $color-secondary;
    }


    .review,.check{
        border-radius: 20px;
        padding: 10px 40px;

    }
    .review{
        background-color: $color-primary;

    }
    .check{
        background-color: $color-secondary;
        color: #fff;
    }

    .item-cart{
      border: 1px solid rgba(128, 128, 128, 0.137);
      border-radius: 10px;

      .details{
        small{
          font-size: 11px;
        }

        .price{
          color: $color-secondary;
          font-weight: bold;
        }
        .btn{
          background-color: $color-primary;
          border-radius: 20px;
          font-size: smaller;
        }
      }
    }


    
  }
}
