@import "../../variables.scss";

.header {



  //top header style start
  .top-header {
      padding: 10px 120px !important;
    background-color: $color-primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;



    //left section style start

    .left {
      display: flex;
      align-items: center;
      img {
        height: 20px;
        margin-left: 20px;
      }
    }


    //center section style start

    .center {
        
        p{
            font-weight: 400;
            ins{
                font-weight: 500;
                cursor: pointer;
            }
        }


    }



    //right section style start

    .right p {
      margin: 0 15px;
      cursor: pointer;

      span {
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
      }
    }
  }

  //top header style end









  //mid header style start
.mid-header{
    padding: 10px 120px !important;

    //left section style start

    .left{
        position: relative;
        input{
            border-radius: 20px !important;
            
            padding-left: 40px;
            
            &::placeholder{
                color: black;
                font-weight: 500;
        
            }
            
        }
        label{
            position: absolute;
            left: 10px;
            z-index: 2;
            top: 4px;
           
        
        
        }
    }

 //right section style start

    .right p {
        margin: 0 15px;
        cursor: pointer;
  
        span {
          font-size: 16px;
          font-weight: 600;
          margin-left: 5px;
        }
      }


}


    //mid header style end












    //bottom header style start

    .bottom-header{
        padding: 10px 120px !important;
        background-color: #000;
        color: #fff;
        p{
            margin-bottom: 0;
            font-weight: 500;
            cursor: pointer;
            &:hover{
                color: #F11133;
            }
        }
    }


     //bottom header style end

















}
