
@import '../../variables.scss';
.footer{
    background-color: #3C3C3B;
    padding: 10px 120px !important;
    color: #fff;
    .top-footer{
        border-bottom: 1px solid grey;
        .left{
            font-size:16px ;
            font-weight: 200;
            padding-right: 20px;
            border-right: 1px solid grey;
        }

        .right{
            .subscribe{
                position: relative;
                input{
                    border-radius: 20px;
                    width: 100%;
                }
                .btn{
                    position: absolute;
                    right:5px;
                    background-color:$color-primary ;
                    border-radius: 20px;
                    height: 27px;
                    padding: 4px 10px;
                    font-size: small;
                }
            }

            .links{
                border-left: 1px solid gray;
            }

            p{
                cursor: pointer;
            }
            
        }
    }
    
}