@import './variables.scss';


body{
    margin: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;

.product-list{
    padding: 10px 130px !important;
    h5{color: $color-secondary;}
}

}